h1 {
background:red;
}

.paragraph-1
 {
background:blue;
font-size: 32pt;
color:red
}

.paragraph-2
 {
border: 10px solid pink;
border-radius:5px;
margin-bottom: 60px;
font-size: 24pt;
padding-top: 80px;
padding-left: 100px;
}

.paragraph-3
 {
font-weight: 900;
font-size:18px;
font-family: "Courier New";
background:grey;
}


/* добавление тени и размера шрифта и наклон */
.paragraph-4
{
font-size:24px;
font-style: oblique;
text-shadow: 5px 5px 5px green
 }



<style>
.imgsize{
width: 350px
height: 200px
}
</style>